
 /* PROJECTS PAGE */
 *{
    padding:0;
    margin:0;
}
/*	gallery */
  
.gallery-title{
    color: white;
    font-family: sans-serif;
}
.gallery-filters{
  color: white;
}
.filter-button{
    font-size: 18px;
    border: 2px solid white;
    padding:5px 10px;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    background:transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active{
    color: black;
    background-color:#01a7c2;
    outline:none;
}
.gallery_product{
    margin: 0px;
    padding:0;
    position:relative;
    overflow: hidden;
}
.gallery_product img {
  width: 100%; 
  height: 350px;
  display: block;
  object-fit: cover;
}
 .gallery_product video {
  width: 100%; 
  height: auto;
  display: block; 
} 

.gallery_product .img-info{
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow:hidden;
    color:#fff;
    top:0;
    display:none;
       -webkit-transition: 2s;
    transition: 2s;
}

.gallery_product:hover .img-info{
    display:block;
   -webkit-transition: 2s;
    transition: 2s;
}


/*	end gallery */