html {
  font-size: 15px;
}
body {
  background-color: #006989;
  background-repeat: no-repeat;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  max-width: auto;
} 
a{
  text-decoration: none;
  color: black;
}

  /* INDEX HOMEPAGE */
  .container {
    margin-top: 5%;
    color: white;
    display: fixed;
    align-items: center;
    text-align: center;
    height: 80vh;
  }
  .display-1 {
    font-size: calc(1rem + 8vw);
    text-align: center;
    font-size:18vh;
    line-height: 1;
    letter-spacing: 10vh; 
  }
  .text-shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  p {
    margin-top: 5%;
    margin-left: 50%;
    padding-left: 4%;
    font-size: 3vh;
    font-weight: 500;
    text-align: left;
  }
  .btn-link:hover {
    color: #01a7c2;
  }
  .btn-link {
    margin-top: 5%;
    margin-left: 30%;
    font-size: 5vh;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    color: #a3bac3;
  }
  .image-logo {
      width: 10%;
      height: auto;
  }
  .caption-text {
      font-weight: 200;
      text-align: left;
  }

  /* Media Queries */
@media (max-width: 1200px) {
  h1 {
      font-size: calc(1.3rem + 4vw);
  }
}

@media (max-width: 992px) {
  h1 {
      font-size: calc(1.2rem + 3.5vw);
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: calc(1.1rem + 3vw);
      letter-spacing: 5vh;
  }
  p {
      font-size: 1rem;
  }
  .btn-link {
      font-size: 1.25rem;
  }
  .image-logo {
      width: 20%;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: calc(1rem + 2.5vw);
      letter-spacing: 4vh;
  }
}
  
  /*	general	*/
  
  section{
      padding: 0 0 5% 0;
  }