body {
  background-color: #006989;
  background-repeat: no-repeat;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  max-width: auto;

} 
a{
  text-decoration: none;
  color: black;
}
/* HEADER NAVBAR */
  .bgHeader {
    background-color: rgba(128, 164, 255, 0);
    padding: 2%;
  }
  
  .navbar {
    z-index: 1000; 
    padding-left: 5%;
    padding-right: 5%;
    font-size: larger;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #a3bac3 !important;
  }
  
  /* INDEX HOMEPAGE */
  .container {
    margin-top: 5%;
    color: white;
    display: fixed;
    align-items: center;
    text-align: center;
    height: 80vh;
  }
  .display-1 {
    font-size: calc(1rem + 6vw);
    margin-left: 6%;
  }
  h1 {
    font-size:18vh;
    line-height: 1;
    letter-spacing: 10vh; 
  }
  p {
    margin-top: 5%;
    margin-left: 50%;
    padding-left: 4%;
    font-size: 3vh;
    font-weight: 500;
    text-align: left;
  }
  .btn-link:hover {
    color: #01a7c2;
  }
  .btn-link {
    margin-top: 5%;
    margin-left: 30%;
    font-size: 5vh;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    color: #a3bac3;
  }
  .image-logo {
      width: 10%;
      height: auto;
  }
  .caption-text {
      font-weight: 200;
      text-align: left;
  }

  /* Media Queries */
@media (max-width: 1200px) {
  h1 {
      font-size: calc(1.3rem + 4vw);
  }
}

@media (max-width: 992px) {
  h1 {
      font-size: calc(1.2rem + 3.5vw);
  }
}

@media (max-width: 768px) {
  h1 {
      font-size: calc(1.1rem + 3vw);
      letter-spacing: 5vh;
  }
  p {
      font-size: 1rem;
  }
  .btn-link {
      font-size: 1.25rem;
  }
  .image-logo {
      width: 20%;
  }
}

@media (max-width: 576px) {
  h1 {
      font-size: calc(1rem + 2.5vw);
      letter-spacing: 4vh;
  }
}


  /* Button styles
  button {
    background-color: #FFE16E;
    color: black;
    border: none;
    margin-top: 5%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: lowercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  } */

  /* FOOTER */
  .footerclass {
    background-color: #01a7c2;
    padding: 5%;
    padding-bottom: 0; 
    font-weight: bold;
    width: auto;
    height: 100%;
  }
  .social-icon {
    color: black; 
    margin: 0 10px;
  }
  h5{
    color: rgba(0, 0, 0, 0.7);
  }
  /* ABOUT PAGE */
  .profile-image{
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
  }
  
  .banner-image{
    max-width: 100%;
    max-height: 100%;
  }
  
  .card-container{
    padding: 5%;
    max-width: 100%;
    color: #eaebed;
    font-family: sans-serif;
  }
  
  .card-name .card-body .card-text{
    padding: 0%;
    max-width: 100%;
  }

  .bg-about-card{
    color: #eaebed;
    background-color: #01a7c2;
    font-family: sans-serif;
    margin: 5%;
  }

  /* WRITINGS PAGE */
  .writings-container{
    margin-bottom: 0%;
    padding: 0%;
    font-size:10vh;
    /* font-weight: bold, italic; */
    font-family: sans-serif;
    /* letter-spacing: 3vh;  */
  }
  .list{
    padding-left: 10%;
    padding-right: 10%;
  }
  .list-group{
    padding: 0%;
    margin: 0%;
  }
  .list-group-item{
    background-color: #01a7c2;
  }
  .image-writing{
    max-width: 50%;
    height: auto;
    padding: 2%;
  }
  .image-caption:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  .caption-container{
    margin-bottom: 15%;
  }
  .caption-desc{
    font-weight: italic;
    font-size: 3vh;
  }
  .white-shadow {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5) !important;
  }

  /* PROJECTS PAGE */
  *{
      padding:0;
      margin:0;
  }
  
  /*	general	*/
  
  section{
      padding: 0 0 5% 0;
  }
  
  /*	gallery */
  
  .gallery-title{
      font-size: 10vh;
      color: white;
      font-family: sans-serif;
  }
  .gallery-filters{
    color: white;
  }
  .filter-button{
      font-size: 18px;
      border: 2px solid white;
      padding:5px 10px;
      text-align: center;
      color: white;
      margin-bottom: 30px;
      background:transparent;
  }
  .filter-button:hover,
  .filter-button:focus,
  .filter-button.active{
      color: black;
      background-color:#01a7c2;
      outline:none;
  }
  .gallery_product{
      margin: 0px;
      padding:0;
      position:relative;
      overflow: hidden;
  }
  .gallery_product img {
    width: 100%; 
    height: 200px;
    display: block;
    object-fit: cover;
  }
   .gallery_product video {
    width: 100%; 
    height: auto;
    display: block; 
  } 

  .gallery_product .img-info{
      position: absolute;
      background: rgba(0,0,0,0.5);
      left: 0;
      right: 0;
      bottom: 0;
      padding: 20px;
      overflow:hidden;
      color:#fff;
      top:0;
      display:none;
         -webkit-transition: 2s;
      transition: 2s;
  }
  
  .gallery_product:hover .img-info{
      display:block;
     -webkit-transition: 2s;
      transition: 2s;
  }

  
  /*	end gallery */